<head>
  <title>Gomoku</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>

<body>
  {{> App_body}}
</body>

<template name="App_body">
  {{> Template.dynamic template=main}}
</template>
