/* CSS declarations go here */
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-attachment: fixed;
  background: #81D4FA;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}
 
/* table */
TABLE#layout {
  border-collapse: collapse;
  white-space: nowrap;
  margin: 10px auto 30px auto;
}
TABLE#gomoku {
  /* margin: 0 30px 0 0; */
  border-collapse: collapse;
  white-space: nowrap;
  border: 1px solid navy;
  font-family: monospace;
  font-size: 13px;
}
TABLE#gomoku TD {
  border: 1px solid navy;
  cursor: pointer;
  /* padding: 2px; */
  white-space: nowrap;
  width: 20px;
  height: 20px;
  font-size: 16px;
}
TABLE#layout TD {
  white-space: nowrap;
  vertical-align: top;
  text-align: center;
  background-color: white;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.list-boards {
  border-top: 1px solid gray;
  height: 100%;
  padding: 10px;
}
.board {
  padding: 12px;
  color: black;
  border: 1px solid #03a9f41f;
  background: #03a9f41f;
  border-radius: 4px;
  text-align: left;
  margin-top: 5px;
}
.enter_board {
  float: right;
  padding: 4px;
  background-color: #006eff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.login:hover, .register:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.game-info {
  margin-left: 20px;
  padding: 20px;
}
.btn {
  float: right;
  border: 1px solid white;
  border-radius: 4px;
  margin: 5px;
}
.btn-quit {
  background-color: red;
}
.btn-help {
  background-color: #43A047
}
.btn-restart {
  background-color: #43A047
}
.btn-option {
  background-color: #287886;
  width: 200px;
}
.btn-solid {
  background-color: #287886;
  width: 200px;
}
.rooms {
  height: 100%;
  width: 400px;
  margin-top: 100px;
  background-color: white;
  padding: 5px;
}
.create-game-input {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid gainsboro;
}
.create-game-button {
  padding: 7px;
  border-radius: 4px;
}
.form-create-game {
 text-align: left
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100px;
}

.col-rule {
  width: 30%
}
.col-board {
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}