<template name="gameboards">
  {{#if currentGame}}
  {{>board game=currentGame}}
  {{else}}
  <div class="rooms centered">
      <h2>Select Game Board</h2>
      <form class="form-create-game">
          <input class="form-control create-game-input" type="text" maxlength="30" name="gameboard" placeholder="Enter new game." />
          <input type="submit" class="button create-game-button" value="Create" />
      </form>
      <div class="list-boards">
        {{#each boards}}
        <div class="board">
          <span class="board-name">{{name}}</span>
          <!-- <button class="enter-board" id={{_id}}>Enter</button> -->
          <span class="enter_board" id={{_id}}>Enter</span>
        </div>
        {{/each}}
      </div>
   </div>
  {{/if}}
</template>