<template name="board">
    <div class="row">
        <div class="column">
            {{#if $eq game.status 'waiting'}}
            <h2>Waiting for other player</h2>
          {{else}}
           {{#if $eq game.status 'finished'}}
              {{#if $eq game.winnerId userId}}
              <h2>You Won</h2>
              {{else}}
              <h2>{{game.winnerName}} is winner</h2>
              {{/if}}
            {{else}}
            {{#if $not game.lastPlay}}
              {{#if $eq game.player1 userId}}
              <h2>It's your turn</h2>
              {{else}}
              <h2>Waiting {{game.player2Name}}</h2>
              {{/if}}
            {{else}}
              {{#if $neq game.lastPlay userId}}
                <h2>It's your turn</h2>
              {{else}}
                <h2>Waiting for {{#if $eq game.player1 userId}} {{game.player1Name}} {{else}} {{game.player2Name}} {{/if}} play</h2>
              {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
        <div class="column">
            <button class="button btn btn-quit">Quit game</button>
            <!-- <button class="button btn btn-restart">Restart</button> -->
            <button class="button btn btn-help">Help</button>
        </div>
      </div>
  <div class="row">
    <div class="column col-rule">
      <h3>Game Rule</h3>
      <ul>
        <li>The first player puts 2 black and 1 white stones anywhere on the board.</li>
        <li>The second player has 3 options:
          <ul>
            <li>Stay with white</li>
            <li>Swap</li>
            <li>Put 2 more stones and let the opponent choose the colour</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="column col-board">
      <table id="layout">
        <tbody>
          <tr>
            <td>
              <table id="gomoku">
    
                <tbody>
                  {{#each row in game.table}}
                  <tr>
                    {{#let rowIndex=@index}}
                    {{#each col in row}}
                    <td id="{{rowIndex}}-{{@index}}" style="color: {{col.color}}">{{col.type}}</td>
                    {{/each}}
                    {{/let}}
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </td>
            {{#if $eq game.swap2.action 0}}
            {{#if $eq game.swap2.step 3}}
            {{#if $neq game.lastPlay userId}}
            <td>
              <tr>
                  <button class="button btn btn-option" id="1">I'm OK with that</button>
              </tr>
              <tr>
                  <button class="button btn btn-option" id="2">I want to swap</button>
              </tr>
              <tr>
                  <button class="button btn btn-option" id="3">I want to add 2 more</button>
              </tr>
              <tr>
                <p>Please select an option</p>
              </tr>
            </td>
            {{/if}}
            {{/if}}
            {{/if}}

            {{#if $eq game.swap2.action 3}}
            {{#if $eq game.swap2.step 5}}
            {{#if $neq game.lastPlay userId}}
            <td>
              <tr>
                  <button class="button btn btn-solid" id="X">X</button>
              </tr>
              <tr>
                  <button class="button btn btn-solid" id="O">O</button>
              </tr>
              <tr>
                <p>Please select your solid</p>
              </tr>
            </td>
            {{/if}}
            {{/if}}
            {{/if}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</template>