<template name="header">
    <div class="header">
        <a href="#default" class="logo">Gomoku Game</a>
        <div class="header-right">
          <a>Hello <b>{{currentUser.username}}</b></a>
          <a class="logout" href="/logout">Logout</a>
        </div>
      </div>
</template>