<template name="register">
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <button>Create</button>
            <p class="message">Already has an account? <a href="/login">Sign In</a></p>
          </form>
        </div>
      </div>
</template>