<template name="home">
  {{#if processing}}
  <h2>Logging</h2>
  {{else}}
    {{#if isAuth}}
     {{>header}}
     {{>gameboards}}
     <!-- <h2>Logged In</h2> -->
    {{else}}
      <div class="centered">
        <h2>GOMOKU GAME, please sign in to play</h2>
          <button class="button login">Login</button>
          <button class="button register">Create new account</button>
      </div>
    {{/if}}
  {{/if}}
</template>